extends layout

block content
  div(class='container')
    div(class='row')
        div(class='col-md-12 vcenter')          
          div(class='form-group has-feedback has-search')
            span(class='glyphicon glyphicon-search form-control-feedback')
            input(type='text', class='form-control', placeholder='Search')
    div(class='row')
